@{
    ViewData["Title"] = "I Have No Ideas";
}
<head>
    <link rel="stylesheet" href="wwwroot/css/site.css">
</head>
<body style="background-color:#ffe6f2;">

<div class="text-center">

    <h1 class="title-format">Give me an Idea...</h1>
    
</div>

<div>
    <a asp-controller="FashionIdeas" class='button'> Feshun </a>
    <a asp-controller="PresentationIdeas" class='button'> Pwesentwation </a>
    <a asp-controller="ArtIdeas" class='button'> Awt </a>
    <a asp-controller="CodeIdeas" class='button'> Kwode </a>
    <a asp-controller="SchoolIdeas" class='button'> Skwool </a>

        <hr style=" width:0%;text-align:center;margin-left:0">

        <h2>Odew tings two dwo</h2>
     
    <button class='button'>CoinFwip </button>
    <button class='button'>Mwagic 8 Bawll </button>
    <button class='button'>Tawo Cawd </button>
    <a asp-controller="Chance" class='button2'>Wat's de Chwance? </a>

</div>
</body>