@{
    ViewData["Title"] = "I Have No Ideas";
}
<body style="background-color:#ffe6f2;">

<style>
    .button {
            align-items: center;
            width: 250px;
            height: 100px;
            max-width: 70%;
            padding: 40px;
            border-radius: 10px;
            background-color: rgb(255, 102, 204);
            color: #33001a;
            font: 20px Inter, sans-serif;
            align-self: center;
    }

        .button2 {
            align-items: center;
            width: 315px;
            height: 350px;
            max-width: 70%;
            padding: 40px;
            border-radius: 10px;
            background-color: rgb(255, 102, 204);
            color: #33001a;
            font: 20px Inter, sans-serif;
            align-self: center;
        }
    .title-format{
            color: #800040;
            font: 100px Inter, sans-serif;
            text-shadow: 0px 4px 4px #1a000d;
    }
</style>

<div class="text-center">

    <h1 class="title-format">Give me an Idea...</h1>
    
</div>

<div>
    <button class='button'> Fashion </button>
    <button class ='button'> Presentation </button>
    <button class='button'> Art </button>
    <button class='button'> Code </button>
    <button class='button'> School </button>
    <hr>
        <button class='button2'>CoinFlip </button>
        <button class='button2'>Magic 8 Ball </button>
        <button class='button2'>Tarot Card </button>
        <button class='button2'>What's the Chance? </button>

</div>
</body>