@{
    ViewData["Title"] = "Pwivasi Powisi";
}
<body style="background-color:#ffe6f2;">

<h1>@ViewData["Title"]</h1>

<p>Aww youw wog iwn infowmation iws sawfe wif us! U don't hav to wowi awbaut youw infowmation beeng weeked :3</p>

</body>